.footer {
  width: 100%;
  background-color: var(--secondary);
  position: relative;
  color: var(--text-color);
}
.footer__up {
  width: 50px;
  height: 50px;
  background-color: var(--primary);
  color: var(--text-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  fill: currentColor;
}
.footer__up-icon {
  margin: 15px auto;
  width: 20px;
}
.footer__up:hover {
  transform: translateX(-50%) scale(1.1);
  box-shadow: 0 3px 20px var(--main-color);
  cursor: pointer;
}
.footer__wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer__title {
  font-size: var(--subtitle);
  margin: 2rem 0;
}
.footer__subtitle {
  font-size: var(--fs-medium);
  color: var(--main-color);
}
.footer__title-span {
  font-size: 3rem;
  font-style: italic;
}
.footer__social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__icon {
  width: 35px;
  height: 35px;
  fill: currentColor;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: var(--text-color);
  gap: 4rem;
  margin: 2.5rem 1rem;
  transition: 0.3s ease-in-out;
}

.footer__icon:hover {
  color: var(--text-color);
  transform: scale(1.3) translateY(-5px);
}
.footer__icon:active {
  transform: scale(0.5);
  background-color: var(--secondary);
}
