
.footer{
    width: 100%;
    background-color: rgb(170, 163, 163);
    color: white;
    padding: 3rem;
    
  }
  
  .footer__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
     
  }
  .footer__column{
    display: flex;
    justify-content: center;
  }
  
  .footer-h6{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: -4px;
    margin: 0 0 1rem;
  }
  
  .footer-news{
    text-transform: lowercase;
    font-size: 1.3rem;
    letter-spacing:normal;
  }
  
  .footer-li{
    margin: 0 0 1rem;
  }
  
  .footer-a{
    font-size: 1.5rem;
  }
  
  .footer-social{
    width: 20%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 1rem;
  }
  .social{
    min-width: 2rem;
  }
  
