.skills__contenido {
  margin: auto;
}

.skills__title {
  font-size: var(--subtitle);
  margin: 0 0 6rem 0;
  text-align: center;
}

.skills__row {
  display: flex;
}

.skills__col {
  width: 50%;
  padding: 0 1.5rem;
}

.skills__col-title {
  font-size: var(--fs-medium);
  margin: 0 0 1.5rem;
}

.skill-span {
  font-size: var(--text-size);
}

.skill__bar {
  height: 8px;
  width: 80%;
  background-color: var(--shadow);
  position: relative;
  margin: 0 0 3rem;
}

/* .skill__progress {
  background-color: var(--main-color);
  color: var(--text-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
} */
.skill__progress {
  background-color: var(--main-color);
  color: var(--text-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;

  width: 0;

  transition: width 2s cubic-bezier(0.1, 0.7, 1, 0.1); /* Curva de movimiento más natural */
}

.skill__progress-spam {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: var(--main-color);
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  top: -17px;
  right: -15px;
  font-size: 14px;
}

/* Media queries */
@media (max-width: 768px) {
  .skills__row {
    display: block;
  }
  .skills__col {
    width: 100%;
  }
  .skills__bar {
    width: 100%;
  }
}
